nav {
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  width: 100%;
  transition: all 0.0000001s ease;
}
* {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}
h5 {
  height: 400px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  text-align: left;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-top: 5%;
  font-weight: 500;
  margin-top: 20px;
  padding-right: 55%;
  text-align: center;
  font-size: 45px;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(rgba(1, 153, 255, 0.8), rgba(1, 152, 253, 0.4)),url(images/mainimage.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.wedo {
  margin-top: 75px;
}
.left {
  padding: 25px;
  font-size: 38px;
  margin-left: 24px;
  float: left;
  font-family: sans-serif;
  color: rgb(255, 255, 255);
}
.right {
  padding: 25px;
  font-size: 22px;
  margin-top: 10px;
  float: right;
  font-family: sans-serif;
  color: rgb(255, 255, 255);
}
nav a {
  text-decoration: none;
  margin-right: 40px;
}
nav a:hover {
  color: rgb(33, 171, 206);
}
#a {
  color: rgb(33, 171, 206);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.what {
  text-align: center;
  font-size: 56px;
  font-weight: 500;
}
h2 {
  color: rgb(33, 171, 206);
  font-size: 26px;
}
.middle {
  font-size: 32px;
}
.para1 {
  float: left;
  width: 30%;
  text-align: center;
  padding-left: 6px;
  padding-top: 25px;
  padding-right: 6px;
}
.para2 {
  float: left;
  width: 40%;
  text-align: center;
  padding-left: 14px;
  padding-right: 14px;
}
.para3 {
  float: right;
  width: 30%;
  text-align: center;
  padding-top: 25px;
  padding-right: 6px;
  padding-left: 6px;
}
div p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
div h2 {
  font-family: cursive;
}
.invisible {
  color: black;
}
/*---follow---*/
.fa {
  font-size: 50px;
  text-decoration: none;
  color: black;
  padding: 20px;
  margin-top: 12px;
  margin-bottom: 55px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}
.fa:hover {
  color: rgb(33, 171, 206);
}
.fa-facebook {
  padding-left: 23px;
  padding-right: 23px;
  margin-left: 40px;
}
/*---Services---*/
.services {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 55px;
}
h1 {
  font-size: 50px;
  color: rgb(64, 177, 221);
}
h1 + p {
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300px;
}
.row {
  margin-top: 5%;
  justify-content: space-between;
  display: flex;
  text-align: center;
}
.course-col {
  flex-basis: 31%;
  background: #ffffff;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
}
/*--office--*/
.office {
  text-align: center;
  width: 80%;
  margin: auto;
  padding-top: 50px;
}
.office-col {
  flex-basis: 32%;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 30px;
  height: 600px;
  position: relative;
}
.layer {
  background: rgb(33, 171, 206, 0);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  transition: 0.5s;
}
.layer:hover {
  background: rgb(33, 171, 206, 0.6);
}
.layer h3 {
  font-size: 25px;
  opacity: 0;
  transition: 0.6s;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
.layer:hover h3 {
  bottom: 48%;
  opacity: 1;
}
/*--contact--*/
.contact {
  margin: 100px auto;
  width: 80%;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(images/banner2.jpg);
  padding: 100px 0;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
}
.contact p {
  font-size: 32px;
  padding-top: 0px;
  padding-bottom: 30px;
}
.contact a {
  text-decoration: none;
  padding: 8px;
  padding-right: 15px;
  font-family: sans-serif;
  padding-left: 15px;
  font-size: 30px;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);;
  background-color: rgb(255, 255, 255);
}
.contactme{
  color: rgb(33, 171, 206);
}
.contactme:hover{
  background-color:rgb(33, 171, 206);;
  color: #ffffff;
  border: 2px solid rgb(255, 255, 255);
}
/*--footer--*/
footer {
  text-align: center;
  font-family: fantasy;
  font-size: 18px;
}
